*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* for nav and home page  */
.hnin{
    width: 100%;
    height: 65vh;
    // background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    background: url("./../../images/about.avif")no-repeat center/cover;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
@media(max-width:900px){
    .hnin{
        height: 100vh;
    }
}
.hnin::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* z-index: 1; */
    /* opacity: 0.9; */
}
nav .logo{
   font-size: 28px;
   color:rgb(236, 100, 100);
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
   
}
nav ul li a {
    text-decoration: none;
    color:black;
    font-size: 17px;
}
@media(max-width:990px){
   .sidebar{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
   }
   .btn-close{
    color: white;
   }
}
@media(max-width:700px){
    .sidebar{
     background-color: rgba(255, 255, 255, 0.15);
     backdrop-filter: blur(10px);
    }
    .btn-close{
     color: white;
    }
 }
 @media(max-width:400px){
    .sidebar{
     background-color: rgba(255, 255, 255, 0.15);
     backdrop-filter: blur(10px);
    }
    .btn-close{
     color: white;
    }
 }
 .abouts{
    height: auto;
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: #fafafa;
    display: flex;
 }
 .abouts p{
    width: 800px;
    margin: 40px auto;
 }
 @media(max-width:900px){
    .abouts p{
        width: 450px;
    }
 }
 @media(max-width:400px){
    .abouts p{
        width: 300px;
    }
 }
 .abouts .may{
    width: 700px;
    margin: 40px auto;
 }
 @media(max-width:900px){
    .abouts .may{
        width: 400px;
    }
 }
 @media(max-width:400px){
    .abouts .may{
        width: 300px;
    }
 }