*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* for nav and home page  */
.DKnews{
    width: 100%;
    height: 65vh;
    background: url("./../../images/news.avif")no-repeat center/cover;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
@media(max-width:900px){
    .DKnews{
        height: 100%;
    }
}
.DKnews::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* z-index: 1; */
    /* opacity: 0.9; */
}
nav .logo{
   font-size: 28px;
   color:rgb(236, 100, 100);
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
   
}
nav ul li a {
    text-decoration: none;
    color:black;
    font-size: 17px;
}
@media(max-width:990px){
   .sidebar{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
   }
   .btn-close{
    color: white;
   }
}
@media(max-width:700px){
    .sidebar{
     background-color: rgba(255, 255, 255, 0.15);
     backdrop-filter: blur(10px);
    }
    .btn-close{
     color: white;
    }
 }
 @media(max-width:400px){
    .sidebar{
     background-color: rgba(255, 255, 255, 0.15);
     backdrop-filter: blur(10px);
    }
    .btn-close{
     color: white;
    }
 }
 .dkmads{
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #fafafa;
 }
 @media(max-width:700px){
    .dkmads .image{
        width: 100%;
    }
 }
@media(max-width:400px){
    .dkmads .image{
        width: 100%;
    }
}
.dkmads h5{
    font-weight: 700;
}
.dkmads input{
    outline: 0;
    border: 0;
    color: black;
    font-weight: 500;
    background-color: rgb(221, 219, 219);
    padding: 10px 15px;
}
.dkmads button{
    outline: 0;
    border: 0;
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 10px 15px;
}
@media(max-width:900px){
    .dkmads .row{
        display: flex;
        flex-wrap: wrap;
    }
}